<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Django Company and Users CRUD</title>
</head>
<body>
    <h2>/companies for CR company endpoints</h2>
    <h2>/companies/id for UD company endpoints</h2>
    <h2>/companies/{company id}/employee to view employees in a company</h2>
    <h2>/users for CR users endpoints</h2>
    <h2>/users/id for UD users endpoints</h2>
    <h2>/employees for CR employee endpoints</h2>
    <h2>/employees for UD employee endpoints</h2>
</body>
</html>
